<pre><code>
Host Process Environment Information:
BenchmarkDotNet=v0.9.8.0
OS=Microsoft Windows NT 6.2.9200.0
Processor=Intel(R) Core(TM) i7-4770 CPU 3.40GHz, ProcessorCount=8
Frequency=3312658 ticks, Resolution=301.8724 ns, Timer=TSC
CLR=MS.NET 4.0.30319.42000, Arch=32-bit RELEASE [AttachedDebugger]
GC=Concurrent Workstation
JitModules=clrjit-v4.6.1063.1
</code></pre>
<pre><code>Type=SortBenchmarks  Mode=Throughput  GarbageCollection=Concurrent Workstation  
</code></pre>

<table>
<tr><th>     Method</th><th>ArraySize</th><th> Median</th><th>StdDev</th><th>Scaled</th>
</tr><tr><td>ArraySortInPlace</td><td>1000000</td><td>520.7952 ms</td><td>40.1864 ms</td><td>1.00</td>
</tr><tr><td>  ToMinHeap</td><td>1000000</td><td>30.3335 ms</td><td>0.6457 ms</td><td>0.06</td>
</tr><tr><td>HeapSort1percent</td><td>1000000</td><td>35.2393 ms</td><td>1.4240 ms</td><td>0.07</td>
</tr><tr><td>HeapSort10percent</td><td>1000000</td><td>90.8662 ms</td><td>2.7140 ms</td><td>0.17</td>
</tr><tr><td>HeapSort20percent</td><td>1000000</td><td>145.4982 ms</td><td>1.7042 ms</td><td>0.28</td>
</tr><tr><td>HeapSort30percent</td><td>1000000</td><td>202.4408 ms</td><td>6.3788 ms</td><td>0.39</td>
</tr><tr><td>HeapSort40percent</td><td>1000000</td><td>256.5925 ms</td><td>4.5274 ms</td><td>0.49</td>
</tr><tr><td>HeapSort50percent</td><td>1000000</td><td>314.6559 ms</td><td>5.2212 ms</td><td>0.60</td>
</tr><tr><td>HeapSortAll</td><td>1000000</td><td>525.1561 ms</td><td>16.7289 ms</td><td>1.01</td>
</tr><tr><td>ArraySortInPlace</td><td>2000000</td><td>1,129.0252 ms</td><td>27.8765 ms</td><td>1.00</td>
</tr><tr><td>  ToMinHeap</td><td>2000000</td><td>66.1442 ms</td><td>1.8800 ms</td><td>0.06</td>
</tr><tr><td>HeapSort1percent</td><td>2000000</td><td>74.9706 ms</td><td>2.8974 ms</td><td>0.07</td>
</tr><tr><td>HeapSort10percent</td><td>2000000</td><td>182.9395 ms</td><td>1.1429 ms</td><td>0.16</td>
</tr><tr><td>HeapSort20percent</td><td>2000000</td><td>303.2874 ms</td><td>11.2702 ms</td><td>0.27</td>
</tr><tr><td>HeapSort30percent</td><td>2000000</td><td>422.3635 ms</td><td>10.8365 ms</td><td>0.37</td>
</tr><tr><td>HeapSort40percent</td><td>2000000</td><td>539.8366 ms</td><td>4.0179 ms</td><td>0.48</td>
</tr><tr><td>HeapSort50percent</td><td>2000000</td><td>655.9821 ms</td><td>9.5874 ms</td><td>0.58</td>
</tr><tr><td>HeapSortAll</td><td>2000000</td><td>1,111.1483 ms</td><td>8.6323 ms</td><td>0.98</td>
</tr><tr><td>ArraySortInPlace</td><td>4000000</td><td>2,394.8034 ms</td><td>68.2869 ms</td><td>1.00</td>
</tr><tr><td>  ToMinHeap</td><td>4000000</td><td>132.4945 ms</td><td>3.8897 ms</td><td>0.06</td>
</tr><tr><td>HeapSort1percent</td><td>4000000</td><td>153.4782 ms</td><td>2.2571 ms</td><td>0.06</td>
</tr><tr><td>HeapSort10percent</td><td>4000000</td><td>387.0978 ms</td><td>7.2771 ms</td><td>0.16</td>
</tr><tr><td>HeapSort20percent</td><td>4000000</td><td>641.6757 ms</td><td>48.6580 ms</td><td>0.27</td>
</tr><tr><td>HeapSort30percent</td><td>4000000</td><td>910.7274 ms</td><td>29.4868 ms</td><td>0.38</td>
</tr><tr><td>HeapSort40percent</td><td>4000000</td><td>1,143.7983 ms</td><td>16.9411 ms</td><td>0.48</td>
</tr><tr><td>HeapSort50percent</td><td>4000000</td><td>1,395.4856 ms</td><td>15.9853 ms</td><td>0.58</td>
</tr><tr><td>HeapSortAll</td><td>4000000</td><td>2,370.2808 ms</td><td>28.8963 ms</td><td>0.99</td>
</tr></table>
